*,
body {
  padding: 0;
  margin: 0;
}
body {
}

/* .grid-row {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
} */
.view-holder {
  height: 97vh;
  margin: 10px;
  background-color: rgb(243, 237, 237);
  box-shadow: 10px 10px 14px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 14px -5px rgba(0, 0, 0, 0.75);
}
form {
  width: 100%;
  text-align: center;
}
label {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  padding: 10px 13px;
  color: white;
  background-color: crimson;
  border: solid 1px crimson;
  box-shadow: 10px 10px 14px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 14px -5px rgba(0, 0, 0, 0.75);
  letter-spacing: 2px;
  font-weight: bolder;
  transition: 300ms ease-in-out;
  font-size: 1.4rem;
}
label:hover {
  background-color: white;
  color: crimson;
}
.progress {
  height: 5px;
  background-color: green;
}

.grid {
  display: grid;
  /* display: flex; */
  width: 100%;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.img-wrapper {
  margin: 10px;

  height: 150px;
  overflow: hidden;

  margin-top: 20px;
}

.img-wrapper img {
  width: 100%;

  /* position: absolute;
  top: 0;
  left: 0; */
}
